.colorful {
	--page-bg: #ffffff;
	--page-padding: 2rem;
	--preview-bg: #ffffff;
	--preview-border: 8px solid #4a4a4a;
	--preview-border-radius: 20px;
	--preview-shadow: 0 5px 15px rgb(0 0 0 / 8%);
	--preview-padding: 3rem;
	--main-title-color: #333333;
	--days-container-display: grid;
	--days-container-grid-columns: 1fr 1fr;
	--days-container-gap: 2rem 3rem;
	--day-block-bg: transparent;
	--day-block-border: none;
	--day-block-padding: 0;
	--topic-color: #4a4a4a;
	--topic-weekday-color: #4a4a4a;
	--text-color: #555555;
	--activity-list-style: circle;
	--marker-color: #555555;
	--notes-line-color: #e0e0e0;
}

.warm {
	--page-bg: #fdf6e3;
	--page-padding: 2rem;
	--preview-bg: transparent;
	--preview-border: none;
	--preview-shadow: none;
	--preview-padding: 0;
	--main-title-color: #4a4a4a;
	--days-container-display: block;
	--day-block-bg: #ffffff;
	--day-block-border: 1px solid #eae0ce;
	--day-block-border-radius: 8px;
	--day-block-padding: 1.5rem;
	--topic-color: #4a4a4a;
	--topic-weekday-color: #c7753d;
	--text-color: #585858;
	--activity-list-style: disc;
	--marker-color: #c7753d;
	--notes-line-color: #eae0ce;

	margin-bottom: 1.5rem;
	background-image: radial-gradient(#d1c7b7 1px, transparent 1px);
	background-size: 10px 10px;
}
