.wrapper {
	--wrapper-margin-top: 64px;

	display: grid;
	grid-template-columns: minmax(220px, 18%) 82%;
	min-height: calc(100vh - var(--wrapper-margin-top));
	margin-top: var(--wrapper-margin-top);
}
