.navigation-buttons {
	--cluster-horizontal-alignment: center;
	--gutter: var(--space-l);
}

.question-counter {
	font-size: var(--font-size-xs);
	font-weight: 500;
	color: var(--color-text-secondary);
}

.navigation-button-skip {
	margin-inline: auto;
}
