.header {
	--repel-wrap: nowrap;

	position: fixed;
	z-index: 999;
	width: 100%;
	padding: var(--gutter);
	background-color: var(--color-card-pink);
	border-end-start-radius: var(--base-radius);
	border-end-end-radius: var(--base-radius);
}

.header a {
	--button-padding-block: var(--space-3xs);
	--button-padding-inline: var(--space-l);

	text-decoration: none;
}
