.progress-bar {
	--circle-size: 1.4rem;

	width: 100%;
	padding: var(--space-m) 0;
	color: var(--color-bg-dark);
}

.progress-container {
	position: relative;
	display: flex;
	gap: var(--space-2xs);
	align-items: center;
	justify-content: center;
}

@media (width >= 768px) {
	.progress-container {
		gap: var(--space-s);
	}
}

.progress-container::before {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 1;
	width: calc(var(--circle-size) * 16);
	height: 2px;
	content: "";
	background-color: var(--color-text-primary);
	transform: translate(-50%, -50%);
}

@media (width >= 768px) {
	.progress-bar {
		--circle-size: 1.75rem;
	}

	.progress-container::before {
		width: calc(var(--circle-size) * 20);
	}
}

.progress-circle {
	position: relative;
	z-index: 2;
	display: flex;
	align-items: center;
	justify-content: center;
	width: var(--circle-size);
	height: var(--circle-size);
	font-weight: var(--font-weight-semi-bold);
	background-color: var(--color-bg-white);
	border: 2px solid var(--color-bg-dark);
	border-radius: 50%;
}

.progress-circle.current {
	color: var(--color-text-primary);
	background-color: var(--color-card-mint);
}

.answered {
	background-color: var(--color-border-light-blue);
}

.progress-circle:not(.answered) {
	cursor: not-allowed;
}

.progress-circle.completed {
	color: var(--color-bg-white);
	background-color: var(--color-text-primary);
	border-color: var(--color-text-primary);
}

.progress-circle .number {
	font-size: var(--font-weight-body-small);
	font-weight: var(--font-weight-semibold);
}

.progress-circle .checkmark {
	font-size: 1.75em;
	color: var(--color-bg-white);
}
