.card {
	display: flex;
	flex-direction: column;
	padding: 24px;
	cursor: pointer;
	background: #ffffff;
	border: 2px solid #000000;
	border-radius: 8px;
	transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.card:hover {
	transform: translateY(-8px);
}

.text {
	display: -webkit-box;
	flex-grow: 1;
	max-height: clamp(300px, 10vh, 350px);
	margin: 0 0 24px;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: 5;
	line-clamp: 5;
	-webkit-box-orient: vertical;
}

.footer {
	display: flex;
	gap: 12px;
	align-items: center;
}
