.container {
	--cluster-direction: column;
	--cluster-horizontal-alignment: center;
	--gutter: var(--space-l);
	--grid-color: var(--color-text-primary);

	width: 100%;
	min-height: 100vh;
	background-color: var(--color-bg-dark);
}

.progress {
	color: var(--color-bg-white);
}

.progress-number {
	display: inline-block;
	min-width: 4ch;
	text-align: right;
}
