.section {
	--grid-color: var(--color-text-primary);
	--grid-opacity: 0.3;

	padding-block: var(--section-padding-block);
	color: var(--color-bg);
	background-color: var(--color-bg-dark);
}

.layout-header {
	position: relative;
	display: inline-block;
	font-size: var(--text-size-heading-2);
}

.layout-list {
	display: flex;
	gap: clamp(15px, 2.1vw, 25px);
	justify-content: center;
	padding: 10px;
	overflow: auto hidden;
	list-style-type: none;
	scrollbar-width: none;
}

.layout-card {
	flex: 0 0 auto;
	width: 205px;
	padding: 10px;
	color: var(--color-text-primary);
	text-align: center;
	cursor: pointer;
	background: var(--color-bg-white);
	border-radius: var(--radius-s);
	transition: transform 0.2s ease;
}

.layout-card h5 {
	margin: 15px 0;
	font-size: 1.2rem;
}

.layout-card:hover {
	z-index: 100;
	transform: scale(1.05);
}

.layout-examples {
	position: relative;
	width: 100%;
	overflow: visible;
}

.layout-wrapper {
	--flow-space: var(--space-2xl);

	position: relative;
	z-index: 2;
}

.header-container {
	position: relative;
	width: 100%;
	text-align: center;
}

.header-text {
	position: relative;
	display: inline-block;
}

.yellow-stars {
	position: absolute;
	top: 50%;
	left: 0;
	width: 2.1em;
	height: auto;
	pointer-events: none;
	transform: translate(-175%, -67%);
}

.pink-stars {
	position: absolute;
	top: 50%;
	right: 0;
	width: 6em;
	height: auto;
	pointer-events: none;
	transform: translate(-120%, -170%);
}
