/* stylelint-disable selector-pseudo-class-no-unknown */
.print-container {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 210mm;
	min-height: 297mm;
	margin: 0 auto;
	background: var(--color-bg-plan-style-with-remarks, #f7e9ce);
}

:global(#print-container[data-plan-style="WITH_REMARKS"]) {
	background: var(--color-bg-plan-style-with-remarks, #f7e9ce);
}

:global(#print-container[data-plan-style="MINIMAL"]) {
	background: var(--color-bg-white, #ffffff);
}

:global(#print-container[data-plan-style="COLOURFUL"]) {
	background: var(--color-bg-white, #ffffff);
}

@media print {
	.print-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 210mm;
		min-height: 297mm;
		margin: 0;
	}
}
