.content {
	height: 100%;
	padding: var(--space-m);
	overflow-x: auto;
	transition: padding 0.3s ease-in-out;
}

.light-background {
	--grid-color: var(--color-light-grey);
	--grid-opacity: var(--dashboard-grid-opacity);

	padding-top: var(--space-l);
	padding-bottom: var(--space-xl);
}

.profile-container {
	max-width: 400px;
	margin: 0 auto;
}

.title {
	font-size: var(--text-size-heading-2);
}
<<<<<<< HEAD

.tabs {
	display: flex;
	margin: var(--space-s) var(--space-xs);
	border-bottom: 1px solid var(--color-border-light);
}

.tab-button {
	display: block;
	flex: 1;
	align-items: center;
	justify-content: center;
	padding: var(--space-s) var(--space-s);
	color: var(--color-text-secondary);
	cursor: pointer;
	user-select: none;
	background: none;
	border: none;
	border-bottom: 3px solid transparent;
	transition: all 0.2s ease;
}

.tab-button:hover {
	color: var(--color-text);
	background-color: var(--color-background-hover);
}

.tab-button--active {
	font-weight: var(--font-weight-semi-bold);
	color: var(--color-accent);
	border-bottom-color: var(--color-accent);
}

.tab-button:focus-visible {
	outline: var(--border-radius-xs) solid var(--color-accent);
	outline-offset: calc(-1 * var(--border-width));
	border-radius: var(--border-radius-xs);
}

@keyframes fade-in {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@media (width >= 768px) {
	.content {
		padding: var(--space-l);
	}
}
=======
>>>>>>> 4f808b61 (feat: * refine dashboard styles cy-300)
