.content {
	height: 100%;
	padding: var(--space-m);
	overflow-x: auto;
	transition: padding 0.3s ease-in-out;
}

.light-background {
	--grid-color: var(--color-light-grey);
	--grid-opacity: var(--dashboard-grid-opacity);

	padding-top: var(--space-l);
	padding-bottom: var(--space-xl);
}

.profile-container {
	max-width: 400px;
	margin: 0 auto;
}

.title {
	font-size: var(--text-size-heading-2);
}
