.text-question {
	display: flex;
	flex-direction: column;
	gap: var(--space-s);
	width: 100%;
	max-width: 500px;
	margin-right: auto;
	margin-left: auto;
}

.label {
	font-size: var(--text-size-heading-4);
	font-weight: var(--font-weight-bold);
	color: var(--color-text-primary);
}

.text-input {
	width: 100%;
	padding: var(--space-xs) var(--space-s);
	border: 2px solid var(--color-bg-dark);
	border-radius: var(--radius-s);
	transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
}

.text-input::placeholder {
	font-weight: var(--font-weight-body-small);
	opacity: 0.85;
	transition: all 0.15s ease;
}

.text-input:focus {
	outline: 4px solid var(--color-brand-muted);
	outline-offset: 0;
}
