.starting-page {
    display: flex;
    align-items: center;
    min-height: 100vh;
    padding: 80px 0 0;
    text-align: center;
}

.net-background {
    margin: 0;
    background-image: 
        linear-gradient(to right, #D7D7D7 1px, transparent 1px),
        linear-gradient(to bottom, #D7D7D7 1px, transparent 1px);
    background-size: 10px 10px;
}

.container { 
    position: relative;
    width: 100%;
    max-width: 1200px;
    padding: 50px 0;
    margin: 0 auto;
}

.starting-page h1 {
    max-width: 1100px;
    margin: 0 auto 20px;
    font-size: 75px;
    font-weight: 600;
    text-align: center;
}

.starting-page h4 {
    max-width: 1100px;
    margin: 0 auto 50px;
    font-size: 24px;
    font-weight: 700;
}

.starting-page .link {
    display: inline-block;
    padding: 5px 50px;
    margin-bottom: 20px;
    font-family: Nunito, Arial, sans-serif;
    font-size: 16px;
    font-weight: 800;
    color: #33322E; 
    text-transform: uppercase;
    text-decoration: none;
    background-color: transparent;
    border: 2px solid;
    border-radius: 30px;
}

.text-wrapper {
    position: relative;
    z-index: 3;
}

.icons-wrapper {
    z-index: 1;
}

.floating-image {
	position: absolute;
}

.green-flower {
	top: 5%;
	left: 19%;
}

.yellow-twinkles {
    top: 73%;
	left: 3%;
}

.yellow-stars {
    top: 80%;
	left: 35%;
}

.pink-stars {
    top: 80%;
	left: 65%;
}

.cat {
    top: 63%;
	left: 3%;
    width: 130px;
    height: 130px;
}
