.starting-page {
	display: flex;
	align-items: center;
	min-height: 100vh;
	padding: 80px 0 0;
	text-align: center;
}

.container {
	position: relative;
	width: 100%;
}

.starting-page h1 {
	max-width: var(--size-text-max-width);
	margin: var(--flow-space) auto;
}

.starting-page h4 {
	max-width: var(--size-text-max-width);
	margin: var(--flow-space) auto;
}

.starting-page a {
	display: inline-block;
	padding: 5px 50px;
	margin: 50px 0;
	margin-bottom: 20px;
	font-family: Nunito, Arial, sans-serif;
	font-size: 16px;
	font-weight: 800;
	color: var(--color-text);
	text-transform: uppercase;
	text-decoration: none;
	background-color: transparent;
	border: 2px solid;
	border-radius: 30px;
}

.text-wrapper {
	position: relative;
	z-index: 3;
}

.icons-wrapper {
	z-index: 1;
}

.floating-image {
	position: absolute;
}

.green-flower {
	bottom: 75%;
	left: 19%;
}

.yellow-twinkles {
	bottom: 0%;
	left: 0%;
	z-index: 2;
}

.yellow-stars {
	bottom: 5%;
	left: 35%;
}

.pink-stars {
	bottom: 2%;
	left: 65%;
}

.cat {
	bottom: 14%;
	left: 0%;
	width: 130px;
	height: 130px;
}
