.section {
	--grid-color: var(--color-light-grey);
	--grid-opacity: 0.4;

	position: relative;
	padding-block: var(--section-padding-block);
	background-color: var(--color-card-darkblue);
}

.container {
	--flow-space: var(--space-2xl);

	position: relative;
	z-index: 2;
}

.title {
	font-size: var(--text-size-heading-2);
	text-align: center;
}

.stepsContainer {
	position: relative;
	display: flex;
	flex-flow: row nowrap;
	gap: var(--space-l);
	align-items: flex-start;
	padding-block: var(--space-l);
	background: var(--color-bg-white);
	border: 2px solid var(--color-text-primary);
	border-radius: var(--space-l);
}

.step {
	position: relative;
	display: flex;
	flex: 1;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.stepNumber {
	font-family: var(--font-family-onest);
	font-size: var(--text-size-heading-1);
	font-weight: var(--font-weight-semi-bold);
}

.stepTitle {
	font-size: var(--text-size-heading-4);
	text-wrap: balance;
}

.croissantImage {
	position: absolute;
	bottom: -30%;
	left: 22%;
	z-index: 3;
	width: clamp(200px, 20vw, 250px);
	height: clamp(150px, 20vw, 200px);
}

.croissantImage img {
	width: 100%;
	height: 100%;
}

.laptopImage {
	position: absolute;
	top: -20%;
	right: 0;
	z-index: 3;
	width: clamp(140px, 15vw, 200px);
	height: clamp(140px, 15vw, 200px);
}

.laptopImage img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.arrowImage {
	width: clamp(var(--space-xl), 8vw, calc(var(--space-2xl) * 1.6));
	transform: translateY(calc(var(--space-s) * -2))
		translateX(calc(var(--space-s) * 0.5));
}

.decorativeStars {
	position: absolute;
	top: -30%;
	left: 20%;
	z-index: -1;
}

.arrow {
	align-self: center;
}

@media (width <= 1024px) {
	.arrowImage {
		width: clamp(
			calc(var(--space-2xl) * 1.5),
			12vw,
			calc(var(--space-3xl) * 1.8)
		);
	}

	.croissantImage {
		bottom: -20%;
		left: 20%;
		width: clamp(140px, 15vw, 200px);
		height: clamp(140px, 15vw, 200px);
	}

	.laptopImage {
		top: -5%;
		right: 0%;
		width: clamp(100px, 12vw, 160px);
		height: clamp(100px, 12vw, 160px);
	}
}

@media (width <= 768px) {
	.stepsContainer {
		flex-direction: column;
		align-items: center;
	}

	.arrow {
		margin-block: var(--space-s);
		transform: rotate(90deg);
	}

	.arrowImage {
		width: clamp(
			calc(var(--space-2xl) * 1.2),
			10vw,
			calc(var(--space-3xl) * 1.5)
		);
		transform: translateY(0);
	}
}
