.hero {
	display: flex;
	align-items: center;
	min-height: 100vh;
	padding: 100px 0 0;
	text-align: center;

	--grid-color: var(--color-light-grey);
	--grid-line: 1px;
}

.container {
	position: relative;
	width: 100%;
}

.hero a {
	--button-font-size: var(--text-button);

	display: inline-block;
	padding: var(--space-2xs) var(--space-l-xl);
	text-decoration: none;
}

.text-wrapper {
	--flow-space: var(--space-gutter-xl);

	position: relative;
	z-index: 3;
}

.icons-wrapper {
	z-index: 1;
}

.floating-image {
	position: absolute;
}

.green-flower {
	bottom: 77%;
	left: 20%;
	width: clamp(50px, 13vw, 140px);
}

.yellow-twinkles {
	bottom: 1%;
	left: 1%;
	z-index: 2;
	width: clamp(90px, 10vw, 130px);
}

.yellow-stars {
	bottom: 5%;
	left: calc(45% - 120px);
	width: clamp(40px, 5vw, 60px);
}

.pink-stars {
	right: calc(45% - 120px);
	bottom: 2%;
	width: clamp(40px, 5vw, 60px);
}

.cat {
	bottom: 14%;
	left: 1%;
	width: clamp(90px, 10vw, 130px);
}

@media (width <= 1024px) {
	.green-flower {
		bottom: 78%;
		left: 18%;
	}
}

@media (width <= 768px) {
	.green-flower {
		bottom: 84%;
		left: 16%;
	}
}

@media (width <= 500px) {
	.cat,
	.yellow-twinkles,
	.green-flower {
		visibility: hidden;
	}
}
