body {
	display: flex;
	flex-direction: column;
	min-width: 320px;
	min-height: 100vh;
	margin: 0;
	font-family: var(--font-family-nunito);
	font-size: var(--text-body);
	font-weight: var(--font-weight-body);
	line-height: var(--leading);
	color: var(--color-text);
}

#root {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
}

:is(h1, h2, h3, h4) {
	text-wrap: balance;
}

:is(h1, h2, h3) {
	font-family: var(--font-family-onest);
	line-height: var(--leading-fine);
}

:is(h4, h5) {
	font-family: var(--font-family-nunito);
}

h1 {
	font-size: var(--text-size-heading-1);
	font-weight: var(--font-weight-heading-semi-bold);
}

h2 {
	font-size: var(--text-size-heading-2);
	font-weight: var(--font-weight-heading-semi-bold);
}

h3 {
	font-size: var(--text-size-heading-3);
	font-weight: var(--font-weight-heading);
}

h4 {
	font-size: var(--text-size-heading-4);
	font-weight: var(--font-weight-heading);
}

h5,
h6 {
	font-size: var(--text-size-heading-5);
	font-weight: var(--font-weight-heading);
}

:focus {
	outline: none;
}

:focus-visible {
	outline: var(--stroke);
	outline-offset: 2px;
	border-radius: var(--radius-xs);
}

::selection {
	background: var(--color-selection-bg);
}

:is(button) {
	text-decoration: none;
	cursor: pointer;
	background-color: transparent;
	border: none;
}

svg[class~="icon"] {
	width: auto;
	max-width: 1lh;
	height: 1lh;
}

svg {
	flex-shrink: 0;
}
