* {
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	min-width: 320px;
	min-height: 100vh;
	margin: 0;
	font-family: Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
}

#root {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
}
