.h1 {
	font-family: Onest, Arial, sans-serif;
	font-size: 72px;
	font-weight: 600;
	line-height: 71px;
}

.h4 {
	font-family: Nunito, Arial, sans-serif;
	font-size: 24px;
	font-weight: 700;
	line-height: 28px;
}
