:root {
	--color-bg-dark: #33322e;
	--color-bg-light: #f6f5fa;
	--color-bg-white: #ffffff;
	--color-text-primary: #000000;
	--color-text-secondary: #68819e;
	--color-brand-primary: #c6e7f9;
	--color-brand-accent: #ff7171;
	--color-brand-muted: #dcf3b6;
	--color-card-peach: #ffafa3;
	--color-card-orange: #ffc470;
	--color-card-yellow: #fbd767;
	--color-card-cream: #fdf5a3;
	--color-card-mint: #85e0a3;
	--color-card-gray: #e6e6e6;
	--color-card-pink: #ffbdf2;
	--color-card-purple: #d9b8ff;
	--color-card-blue: #80caff;
	--color-card-cyan: #75d7f0;
	--color-text: var(--color-text-primary);
	--color-text-muted: var(--color-text-secondary);
	--color-bg: var(--color-bg-light);
	--color-surface: var(--color-bg-white);
	--color-selection-bg: var(--color-card-yellow);
	--font-weight-thin: 100;
	--font-weight-extra-light: 200;
	--font-weight-light: 300;
	--font-weight-regular: 400;
	--font-weight-medium: 500;
	--font-weight-semi-bold: 600;
	--font-weight-bold: 700;
	--font-weight-extra-bold: 800;
	--font-weight-black: 900;
	--font-family-primary: "Nunito", sans-serif;
	--font-family-secondary: "Onest", sans-serif;
	--leading: 1.5;
	--leading-fine: 1.1;
	--leading-loose: 1.7;
	--kerning: normal;
	--kerning-tight: -0.04ch;
	--kerning-loose: 0.1ch;
	--kerning-uppercase: 0.04ch;
	--text-size-base: 16px;
	--text-body: var(--text-size-base);
	--text-body-small: 14px;
	--text-size-heading-1: 72px;
	--text-size-heading-2: 42px;
	--text-size-heading-3: 24px;
	--text-size-heading-4: 24px;
	--text-size-heading-5: 20px;
	--text-button: 16px;
	--text-button-small: 12px;
	--text-caption: 12px;
	--wrapper-max-width: 1200px;
	--size-text-max-width: 900px;
	--gutter: 16px;
	--space-gutter-xs: calc(var(--gutter) * 0.5);
	--space-gutter-s: calc(var(--gutter) * 0.75);
	--space-gutter-m: calc(var(--gutter) * 1);
	--space-gutter-l: calc(var(--gutter) * 2);
	--space-gutter-xl: calc(var(--gutter) * 3);
	--base-radius: 16px;
	--radius-s: calc(var(--base-radius) * 0.5);
	--radius-m: calc(var(--base-radius) * 1);
	--radius-l: calc(var(--base-radius) * 1.5);
	--radius-xl: calc(var(--base-radius) * 2);
	--radius-full: 99999px;
	--flow-space: 16px;
	--font-weight-body: var(--font-weight-bold);
	--font-weight-body-small: var(--font-weight-semi-bold);
	--font-weight-heading: var(--font-weight-bold);
	--font-weight-heading-semi-bold: var(--font-weight-semi-bold);
	--font-weight-caption: var(--font-weight-medium);
	--font-weight-button: var(--font-weight-semi-bold);
	--stroke: 3px solid var(--color-text-secondary);
}
