section {
	padding-block: 64px;
}

section[data-section-variant="light"] {
	background-color: #f1f1f1;
}

section[data-section-variant="dark"] {
	color: #f1f1f1;
	background-color: #33322e;
}

section[data-section-variant="brand"] {
	background-color: #76acec;
}

.hero__content {
	text-align: center;
}

.hero__title {
	max-width: var(--size-text-max-width);
	margin-inline: auto;
	font-size: 60px;
}

.hero__subtitle {
	font-size: 24px;
}
