section[data-section-variant] {
	padding-block: 64px;
}

section[data-section-variant="light"] {
	background-color: var(--color-bg);
}

section[data-section-variant="dark"] {
	color: var(--color-bg);
	background-color: var(--color-bg-dark);
}

section[data-section-variant="brand"] {
	background-color: var(--color-card-blue);
}

.hero__content {
	color: var(--color-bg-dark);
	text-align: center;
}

.hero__title {
	max-width: var(--size-text-max-width);
	margin-inline: auto;
	font-size: 60px;
}

.hero__subtitle {
	font-size: 24px;
}
