:root {
	--color-bg-dark: #33322e;
	--color-bg-light: #f6f5fa;
	--color-bg-white: #ffffff;
	--color-text-primary: #000000;
	--color-backdrop-primary: #ffffff80;
	--color-text-secondary: #68819e;
	--color-text-tertiary: #0c0c1f;
	--color-brand-primary: #c6e7f9;
	--color-bg-hover: #ececec;
	--color-brand-accent: #ff7171;
	--color-brand-muted: #dcf3b6;
	--color-card-peach: #ffafa3;
	--color-card-orange: #ffc470;
	--color-card-yellow: #fbd767;
	--color-card-cream: #fdf5a3;
	--color-card-mint: #85e0a3;
	--color-card-gray: #e6e6e6;
	--color-card-pink: #ffbdf2;
	--color-card-purple: #d9b8ff;
	--color-card-darkblue: #76acec;
	--color-card-blue: #80caff;
	--color-card-cyan: #75d7f0;
	--color-light-grey: #d7d7d7;
	--color-border-grey: #b0b0b2;
	--color-icon-grey: #e0e0e0;
	--color-grid-line-cream: #e9eba880;
	--color-bg-plan-style-with-remarks: #f7e9ce;
	--color-text-deep-blue: #25233d;
	--color-text-night-blue: #082a52;
	--color-border-soft-pink: #f0cfd6;
	--color-border-pink-red: #9a5d6a;
	--color-border-light-blue: #cfcfff;
	--color-border-purple: #9a9aff;
	--color-bg-task-checkbox-dark-blue: #9a5d6a20;
	--color-bg-task-checkbox-purple: #9a9aff32;
	--color-text-checked-task: #0c1c1f70;
	--color-border-yellow: #e9dd32;
	--color-plan-style-minimal-grey: #55556b;
	--color-header-pink: #de71c9;
	--color-remark-purple: #9a9aff;
	--color-colourful-task-text: #6e627b;
	--color-text: var(--color-text-primary);
	--color-text-muted: var(--color-text-secondary);
	--color-bg: var(--color-bg-light);
	--color-bg-black: var(--color-text-primary);
	--color-surface: var(--color-bg-white);
	--color-selection-bg: var(--color-card-yellow);
	--color-bg-sidebar: var(--color-bg-light);
}
