:root {
	--font-family-primary:
		"Nunito", "Segoe UI", "Roboto", "Helvetica Neue", -apple-system, sans-serif;
	--font-family-secondary:
		"Onest", "Segoe UI", system-ui, -apple-system, sans-serif;
	--font-weight-thin: 100;
	--font-weight-extra-light: 200;
	--font-weight-light: 300;
	--font-weight-regular: 400;
	--font-weight-medium: 500;
	--font-weight-semi-bold: 600;
	--font-weight-bold: 700;
	--font-weight-extra-bold: 800;
	--font-weight-black: 900;
	--leading: 1.5;
	--leading-fine: 1.1;
	--leading-loose: 1.7;
	--kerning: normal;
	--kerning-tight: -0.04ch;
	--kerning-loose: 0.1ch;
	--kerning-uppercase: 0.04ch;
	--text-size-base: 16px;
	--text-body: var(--text-size-base);
	--text-body-small: 14px;
	--text-size-heading-1: 72px;
	--text-size-heading-2: 42px;
	--text-size-heading-3: 24px;
	--text-size-heading-4: 24px;
	--text-size-heading-5: 20px;
	--text-button: 16px;
	--text-button-small: 12px;
	--text-caption: 12px;
	--font-weight-body: var(--font-weight-bold);
	--font-weight-body-small: var(--font-weight-semi-bold);
	--font-weight-heading: var(--font-weight-bold);
	--font-weight-heading-semi-bold: var(--font-weight-semi-bold);
	--font-weight-caption: var(--font-weight-medium);
	--font-weight-button: var(--font-weight-semi-bold);
}
