.notes-page {
	--grid-opacity: 0.1;

	position: relative;
	z-index: 1;
	width: 100%;
	padding: var(--space-m);
	padding-bottom: var(--space-xl);
	margin-top: 0;
	background-color: var(--color-bg-white);
	border: 2px solid var(--color-bg-dark);
	border-radius: var(--radius-l);
	box-shadow: 0 4px 20px rgb(var(--color-bg-dark) / 10%);
}

@media (width >= 480px) {
	.notes-page {
		margin-top: var(--space-xl);
	}
}

.notes-content {
	max-width: 600px;
	margin-inline: auto;
}

.notes-title {
	max-width: 600px;
	text-align: center;
	text-wrap: balance;
}

.notes-description {
	color: var(--color-plan-style-minimal-grey);
	text-align: center;
	text-wrap: balance;
}

.notes-textarea {
	width: 100%;
	min-height: 8rem;
	padding: var(--space-xs) var(--space-s);
	border: 2px solid var(--color-bg-dark);
	border-radius: var(--radius-s);
	transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
}

.notes-textarea::placeholder {
	font-weight: var(--font-weight-body-small);
	opacity: 0.85;
	transition: all 0.15s ease;
}

.notes-textarea:hover::placeholder {
	opacity: 1;
	transform: translateX(2px);
}

.notes-textarea:focus {
	outline: 4px solid var(--color-brand-muted);
	outline-offset: 0;
}
