.reset-password-container {
	padding-block: var(--space-3xl);
	overflow-x: hidden;
}

.reset-password {
	padding-block: var(--space-xl) var(--space-xl);
	padding-inline: var(--space-m-2xl);
	margin-inline: var(--space-s);
}
