.container {
	--grid-color: var(--color-grid-line-cream);

	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	min-height: 100vh;
	padding-block: var(--space-l);
	padding-inline: var(--space-m-3xl);
	overflow-x: clip;
	background-color: var(--color-card-yellow);
}

.sign-up-card {
	--grid-color: var(--color-grid-line-cream);
	--grid-opacity: 0.8;

	position: relative;
	z-index: 1;
	max-width: 592px;
	padding-inline: var(--space-m-3xl);
	padding-top: var(--space-l-xl);
	padding-bottom: var(--space-2xl-3xl);
	text-align: center;
	background-color: var(--color-bg-white);
	border-radius: var(--radius-l);
}

.image-position {
	position: absolute;
}

.form-content {
	text-align: start;
}

.logo-container {
	margin-bottom: var(--space-m);
}

.title {
	margin-bottom: var(--space-l-xl);
	font-size: var(--text-size-heading-2);
	line-height: 1.09;
}

.redirect-text {
	margin-bottom: var(--space-m);
	font-size: var(--step-minus-2);
	color: var(--color-text-primary);
	text-indent: 11px;
	text-decoration-color: var(--color-bg-dark);
}

.redirect-text__link,
.redirect-text__link:visited {
	text-decoration: none;
}

.form {
	display: flex;
	flex-direction: column;
	gap: var(--space-s-m);
	text-align: left;
}

.blue-stars {
	bottom: 0;
	left: 85%;
}

.yellow-stars {
	top: 0%;
	left: -42%;
}

.orange-image {
	top: -2%;
	left: 70%;
	height: 80px;
}

.car-image {
	right: 40%;
	bottom: -13%;
	height: 110px;
}

@media (width >= 600px) {
	.orange-image {
		top: 10%;
		left: -10%;
		height: 100px;
	}

	.car-image {
		right: -105px;
		bottom: -30px;
		height: 120px;
	}

	.blue-stars {
		bottom: 5%;
	}
}
