.container {
	--grid-color: var(--color-grid-line-cream);

	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	min-height: 100vh;
	padding-block: var(--space-m);
	overflow-x: clip;
	background-color: var(--color-card-yellow);
}

.sign-in {
	--grid-color: var(--color-grid-line-cream);
	--grid-opacity: 0.8;

	position: relative;
	z-index: 200;
	width: 100%;
	max-width: 590px;
	padding-block: var(--space-xl) var(--space-3xl);
	padding-inline: var(--space-m-3xl);
	margin-inline: var(--space-s);
	font-family: var(--font-family-primary);
	background-color: var(--color-bg-white);
	border-radius: var(--radius-l);
}

.title {
	font-size: var(--text-size-heading-2);
}

.redirect-text__link,
.redirect-text__link:visited {
	color: var(--color-text-primary);
	text-decoration-color: var(--color-bg-dark);
}

.form {
	--cluster-direction: column;
	--cluster-vertical-alignment: stretch;
	--gutter: var(--space-s-m);
}

.image-position {
	position: absolute;
}

.blue-stars {
	bottom: 0;
	left: 85%;
}

.yellow-stars {
	top: 0;
	left: 5px;
}

.orange-image {
	top: -2%;
	left: 70%;
	height: 80px;
}

.car-image {
	right: 60%;
	bottom: -15px;
	z-index: 3;
	height: 80px;
}

@media (width >= 600px) {
	.container {
		padding-block: 0;
	}

	.orange-image {
		top: 10%;
		left: -10%;
		height: 100px;
	}

	.car-image {
		right: -105px;
		bottom: -30px;
		height: 120px;
	}

	.yellow-stars {
		top: 14%;
		left: 5px;
	}

	.blue-stars {
		bottom: 5%;
	}
}

@media (width >= 1024px) {
	.yellow-stars {
		top: 14%;
		left: 12%;
	}
}
