.feedback-wrapper {
	--grid-size: 12px;

	position: relative;
	min-width: 100%;
	padding-block: var(--section-padding-block);
}

.light-background {
	--grid-color: var(--color-light-grey);
	--grid-line: 1px;
	--grid-opacity: 0.4;
}

.landing-section {
	--wrapper-max-width: 100%;

	display: flex;
	align-items: center;
	justify-content: center;
}

.container {
	--flow-space: var(--space-2xl);

	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	max-width: 100%;
	margin: 0 auto;
}

.title {
	z-index: 3;
	font-size: var(--text-size-heading-2);
	text-align: center;
}

.no-feedbacks-title {
	font-size: var(--text-size-heading-3);
}

.custom-slide {
	width: clamp(250px, 25vw, 360px);
	padding: var(--space-m);
	padding-top: 38px;
	background-color: var(--color-bg-white);
	border: 2px solid var(--color-bg-dark);
	border-radius: var(--radius-m);
}

.feedbacks-list-wrapper {
	max-width: 100%;
	min-height: clamp(260px, 11.11vw + 220px, 410px);
}

.loader-container {
	--cluster-horizontal-alignment: center
		min-height: clamp(260px, 11.11vw + 220px, 410px);
}

@media (width >= 768px) {
	.feedback-wrapper {
		--grid-size: unset;

		min-width: 768px;
	}
}

@media (width >= 1024px) {
	.landing-section {
		--wrapper-max-width: unset;
	}

	.feedback-wrapper {
		min-width: 1024px;
	}
}
