section[data-section-variant].categories {
	position: relative;
	padding-bottom: 187px;
}

.title {
	margin-bottom: 101px;
	text-align: center;
}

.category-list {
	gap: 22.5px;
	justify-content: center;
}

.image-position {
	position: absolute;
}

.blue-stars {
	position: absolute;
	right: 13.5%;
	bottom: -17.5px;
	width: 85px;
	height: 113px;
}

.yellow-stars {
	position: absolute;
	bottom: 9%;
	left: 16.5%;
	z-index: -1;
	width: 126px;
	height: 118px;
}
