.categories {
	--wrapper-max-width: 100%;
	--flow-space: var(--space-2xl);
	--cluster-horizontal-alignment: center;
	--gutter: var(--space-l);
	--grid-color: var(--color-light-grey);
	--grid-opacity: 0.4;

	position: relative;
	padding-block: var(--section-padding-block);
}

.container {
	--flow-space: var(--space-2xl);
}

.title {
	text-align: center;
}

.image-position {
	position: absolute;
}

.yellow-stars {
	position: absolute;
	bottom: 4%;
	left: 18%;
	z-index: -1;
	width: 126px;
	height: 118px;
}
