.flow > * + * {
	margin-block-start: var(--flow-space, 16px);
}

.flow-tight > * + * {
	margin-block-start: calc(var(--flow-space, 16px) * 0.75);
}

.flow-loose > * + * {
	margin-block-start: calc(var(--flow-space, 16px) * 2);
}
