.wrapper {
	max-width: var(--wrapper-max-width, 1064px);
	padding-right: var(--space-gutter-m);
	padding-left: var(--space-gutter-m);
	margin-inline: auto;
}

.wrapper[data-wrapper-type="inner"] {
	min-width: 100%;
	padding-block: var(--gutter-wrapper-inner-block, var(--space-gutter-m));
	padding-inline: var(--gutter-wrapper-inner-inline, var(--space-gutter-m));
}
