.container {
	--grid-color: var(--color-grid-line-cream);

	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	min-height: 100vh;
	padding-block: var(--space-3xl);
	overflow-x: hidden;
	background-color: var(--color-card-yellow);
}

.sign-in {
	--grid-color: var(--color-grid-line-cream);
	--grid-opacity: 0.8;

	position: relative;
	z-index: 200;
	width: 100%;
	max-width: 590px;
	padding-block: var(--space-xl) var(--space-3xl);
	padding-inline: var(--space-m-3xl);
	margin-inline: var(--space-s);
	font-family: var(--font-family-primary);
	background-color: var(--color-bg-white);
	border-radius: var(--radius-l);
}

.title {
	font-size: var(--text-size-heading-2);
}

.redirect-text__link,
.redirect-text__link:visited {
	color: var(--color-text-primary);
	text-decoration-color: var(--color-bg-dark);
}

.form {
	--cluster-direction: column;
	--cluster-vertical-alignment: stretch;
	--gutter: var(--space-xl);
}

.floating-image {
	position: absolute;
}

.pink-stars {
	bottom: 5%;
	left: 85%;
}

.yellow-stars {
	top: var(--space-3xl);
	left: var(--space-3xl);
}

.twinkles {
	top: calc(var(--space-3xl) * 4);
	right: calc(var(--space-3xl) * 1.75);
}

.laptop {
	top: calc(var(--space-3xl) * 4);
	left: clamp(0%, 12vw, 20%);
	height: clamp(50px, 15vw, 200px);
}

.cup {
	top: clamp(-80px, 8vw, -100px);
	right: 5%;
	display: inline-block;
	width: clamp(120px, 20vw, 200px);
}
