.sign-in-container {
	padding-block: var(--space-3xl);
	overflow-x: hidden;
}

.sign-in {
	padding-block: var(--space-xl);
	padding-inline: var(--space-m-3xl);
	margin-inline: var(--space-s);
}

.floating-image {
	position: absolute;
}

.pink-stars {
	bottom: 5%;
	left: 85%;
}

.yellow-stars {
	top: var(--space-3xl);
	left: var(--space-3xl);
}

.twinkles {
	top: calc(var(--space-3xl) * 4);
	right: calc(var(--space-3xl) * 1.75);
}

.laptop {
	top: calc(var(--space-3xl) * 4);
	left: clamp(0%, 12vw, 20%);
	height: clamp(50px, 15vw, 200px);
}

.cup {
	top: clamp(-80px, 8vw, -100px);
	right: 5%;
	display: inline-block;
	width: clamp(120px, 20vw, 200px);
}

.forgot-password-link {
	display: block;
	text-align: center;
}
