.actions-container {
	--cluster-direction: column;
	--cluster-vertical-alignment: center;
	--cluster-horizontal-alignment: stretch;

	max-width: clamp(10rem, 50vw, 15rem);
	margin-inline: auto;
}

.actions-container > * {
	width: 100%;
}

.footer-message {
	font-family: var(--font-family-onest);
	font-weight: var(--font-weight-semi-bold);
	text-align: center;
}

.login-link {
	color: var(--color-primary-blue, #007bff);
	cursor: pointer;
}
